<section class="ezy__blog2_f8oClN9V">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="ezy__blog2_f8oClN9V-heading mb-3 mt-0">Job Posts</h2>
        <p class="ezy__blog2_f8oClN9V-sub-heading px-lg-5 mb-4">
          <!-- Banking crises have developed many times throughout history when one or more risks have emerged for a
          banking sector as a whole. -->
        </p>
        <!-- <a href="" class="btn ezy__blog2_f8oClN9V-btn">All Posts</a> -->
      </div>
    </div>
    <div class="row mt-3 mt-md-5">
      <div class="col-12 col-md-6 col-lg-4 mt-4" *ngFor="let job of jobPostList">
        <article class="ezy__blog2_f8oClN9V-post rounded overflow-hidden h-100">
          <!-- <img src="https://cdn.easyfrontend.com/pictures/blog/blog_1.jpg" alt="" class="img-fluid w-100" /> -->
          <div class="p-3 p-md-4">
            <h4 class="ezy__blog2_f8oClN9V-title fs-4 mb-2">{{job.designation}}</h4>
            <h5 class="ezy__blog2_f8oClN9V-title fs-4 mb-2"><a href="{{job.company_website}}">{{job.company}}</a></h5>
            <p class="ezy__blog2_f8oClN9V-author">
              <span class="me-2">Apply By <span>{{job.last_date_to_apply}}</span></span>
            </p>
            <p class="ezy__blog2_f8oClN9V-description mt-3 mb-4">
              {{job.job_description_text}}
            </p>
            <a (click)="openJob(job._id)" class="btn ezy__blog2_f8oClN9V-btn-read-more">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
