<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-10">
              <a href="/" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo-easemyform.png" alt="">
                <!-- <span class="d-none d-lg-block">EaseMyforms</span> -->
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Sign up</h5>
                  <p class="text-center small">Enter your details to Sign up</p>
                </div>

                <form class="row g-3 needs-validation" [formGroup]="signUpForm" novalidate>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">First Name</label>
                    <input name="password" class="form-control" formControlName="first_name" type="text" id="password" required>
                    <div class="invalid-feedback">Please enter your First Name!</div>
                  </div>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <!-- <span class="input-group-text" id="inputGroupPrepend">
                        <i class="fa fa-user"></i>
                      </span> -->
                      <input type="text" name="username" class="form-control" id="yourUsername" required formControlName="email" type="email">
                      <!-- <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                        <small *ngIf="email?.errors?.['required']">Email is required.</small>
                      </div> -->
                      <div class="invalid-feedback">Please enter your Email.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input name="password" class="form-control" formControlName="password1" type="password" id="password1" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Confirm Password</label>
                    <input name="password" class="form-control" formControlName="password2" type="password" id="password2" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" (click)="login()">Sign Up</button>
                  </div>
                </form>

              </div>
            </div>

            <!-- <div class="credits">
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div> -->

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->
