<!-- Jobs Post -->

<section class="ezy__signup16_HEgHdsPt d-flex align-items-center justify-start-start" style="background-color: #fff;">
  <div class="container-fluid">
    <div class="row justify-start-start">
      <div class="col-12 col-md-12">
        <div class="ezy__signup16_HEgHdsPt-card p-3">
          <div class="ezy__signup16_HEgHdsPt-form-card p-4 p-lg-5">
            <h2 class="ezy__signup16_HEgHdsPt-heading text-center">Add Job Post</h2>
            <main>
              <div class="container">
                <section class="section job-details min-vh-90 d-flex flex-column align-items-center justify-content-center py-4">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-12 col-md-12 d-flex flex-column align-items-center justify-start-start">

                        <div class="card mb-3">
                          <div class="card-body">
                            <form class="row g-3 needs-validation" novalidate>

                              <div class="col-12">
                                <label for="designation" class="form-label">Designation</label>
                                <input type="text" class="form-control" id="designation" value="Software Engineer" >
                              </div>

                              <div class="col-12">
                                <label for="company" class="form-label">Company</label>
                                <input type="text" class="form-control" id="company" value="Google" >
                              </div>

                              <div class="col-12">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" class="form-control" id="location" value="Bangalore" >
                              </div>

                              <div class="col-12">
                                <label for="salary" class="form-label">Salary</label>
                                <input type="text" class="form-control" id="salary" value="10LPA" >
                              </div>

                              <div class="col-12">
                                <label for="experience" class="form-label">Experience</label>
                                <input type="text" class="form-control" id="experience" value="2 years" >
                              </div>

                              <div class="col-12">
                                <label for="skills" class="form-label">Skills</label>
                                <input type="text" class="form-control" id="skills" value="Java, Python, C++" >
                              </div>

                              <div class="col-12">
                                <label for="qualification" class="form-label">Qualification</label>
                                <textarea class="form-control" id="qualification" >Strong programming skills in Python, C++, or similar languages.</textarea>
                              </div>

                              <div class="col-12">
                                <label for="responsibilities" class="form-label">Responsibilities</label>
                                <textarea class="form-control" id="responsibilities" >Develop software solutions by studying information needs, conferring with users, and studying systems flow, data usage, and work processes.</textarea>
                              </div>

                              <div class="col-12">
                                <label for="job_type" class="form-label">Job Type</label>
                                <input type="text" class="form-control" id="job_type" value="Full Time" >
                              </div>

                              <div class="col-12">
                                <label for="job_description_text" class="form-label">Job Description</label>
                                <textarea class="form-control" id="job_description_text" >Google is hiring Software Engineer for Bangalore location with 2 years of experience. The candidate should have good knowledge of Java, Python, C++ and should have B.Tech degree.</textarea>
                              </div>

                              <div class="col-12">
                                <label for="job_description_file" class="form-label">Job Description File</label>
                                <a href="https://www.google.com/job_description.pdf" class="form-control" id="job_description_file" target="_blank">Download Job Description PDF</a>
                              </div>

                              <div class="col-12">
                                <label for="date_of_posting" class="form-label">Date of Posting</label>
                                <input type="text" class="form-control" id="date_of_posting" value="2024-05-01" >
                              </div>

                              <div class="col-12">
                                <label for="last_date_to_apply" class="form-label">Last Date to Apply</label>
                                <input type="text" class="form-control" id="last_date_to_apply" value="2024-06-30" >
                              </div>

                              <div class="col-12">
                                <label for="contact_info" class="form-label">Contact Information</label>
                                <ul class="list-unstyled">
                                  <li>Email: <a href="mailto:shreenaagrawal@gmail.com">da</a></li>
                                  <li>Phone: 9876543210</li>
                                  <li>LinkedIn: <a href="https://www.linkedin.com/in/shreena-agrawal" target="_blank">Shreena Agrawal</a></li>
                                </ul>
                              </div>

                              <div class="col-12">
                                <label for="work_mode" class="form-label">Work Mode</label>
                                <input type="text" class="form-control" id="work_mode" value="Remote" >
                              </div>

                              <div class="col-12">
                                <label for="extra" class="form-label">Extra</label>
                                <textarea class="form-control" id="extra" >Nothing to add</textarea>
                              </div>

                              <div class="col-12">
                                <label for="why_work_here" class="form-label">Why Work Here</label>
                                <textarea class="form-control" id="why_work_here" >Google is a great place to work. It has a good work culture and provides a lot of opportunities for growth.</textarea>
                              </div>
                              <div>
                                <div class="col-12 col-md-12">
                                  <div class="d-flex justify-content-md-end mt-3">
                                    <button type="submit" class="btn ezy__signup16_HEgHdsPt-btn-submit">
                                      Post <i class="fas fa-arrow-right"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>

                            </form>

                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </main><!-- End #main -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- View Jobs -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Job Posts</h5>
          <!-- Table with stripped rows -->
          <table class="table">
            <thead>
              <tr>
                <th>
                  <b>Designation</b>
                </th>
                <th>Organization</th>
                <th>Experience</th>
                <th>Job Type</th>
                <th data-type="date" data-format="YYYY/DD/MM">Posted on</th>
                <th>Last Date to Apply</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of jobPostList">
                <td>
                  {{item.designation}}
                </td>
                <td>
                  {{item.company}}
                </td>
                <td>
                  {{item.experience}}
                </td>
                <td>
                  {{item.job_type}}
                </td>
                <td>{{item.date_of_posting}}</td>
                <td>
                  {{item.last_date_to_apply}}
                </td>
                <td>
                  <ng-container *ngIf="item.active">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </ng-container>
                </td>
                <td>
                  <div>
                    <ng-container *ngIf="item.active">
                      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                        <i class="fa fa-share" aria-hidden="true"></i>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="item.active">
                      <button type="button" class="btn btn-warning">
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                      </button>
                    </ng-container>
                    <button type="button" class="btn btn-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
          <!-- End Table with stripped rows -->

        </div>
      </div>

    </div>
  </div>
</section>
<div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Publish Job Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" >Publish</button>
      </div>
    </div>
  </div>
</div><!-- End Vertically centered Modal-->
