.ezy__signup16_HEgHdsPt {
  /* Bootstrap variables */
  --bs-body-color: #1c1c1f;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-form-card-bg: #ffffff;
  --ezy-form-card-shadow: 6px 0px 118px rgba(0, 0, 0, 0.08);
  --ezy-border-color: rgba(0, 0, 0, 0.125);

  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-size: cover;
  background-position: right;
  padding: 60px 0;
}

@media (min-width: 991px) {
  .ezy__signup16_HEgHdsPt {
    padding: 0px 0;
  }
}

/* Gray Block Style */
.gray .ezy__signup16_HEgHdsPt,
.ezy__signup16_HEgHdsPt.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-form-card-bg: #f6f6f6;
  --ezy-form-card-shadow: 6px 0px 118px rgba(38, 38, 38, 0.08);
}

/* Dark Gray Block Style */
.dark-gray .ezy__signup16_HEgHdsPt,
.ezy__signup16_HEgHdsPt.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
  --bs-dark-rgb: 255, 255, 255;

  /* Easy Frontend variables */
  --ezy-form-card-bg: rgb(11, 23, 39);
  --ezy-form-card-shadow: none;
  --ezy-border-color: rgb(58, 68, 80);
}
.card{
  box-shadow: none;
}

/* Dark Block Style */
.dark .ezy__signup16_HEgHdsPt,
.ezy__signup16_HEgHdsPt.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
  --bs-dark-rgb: 255, 255, 255;

  /* Easy Frontend variables */
  --ezy-form-card-bg: rgb(30, 39, 53);
  --ezy-form-card-shadow: none;
  --ezy-border-color: rgba(127, 127, 127, 0.35);
}

.ezy__signup16_HEgHdsPt-heading {
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 1px;
}
@media (min-width: 991px) {
  .ezy__signup16_HEgHdsPt-heading {
    font-size: 34px;
  }
}

.ezy__signup16_HEgHdsPt-icon {
  position: absolute;
  top: 48px;
  left: 15px;
  font-size: 14px;
  opacity: 0.8;
}
.ezy__signup16_HEgHdsPt-card {
  background-color: var(--ezy-form-card-bg);
  box-shadow: var(--ezy-form-card-shadow);
}
.ezy__signup16_HEgHdsPt-form-card {
  border: 1px solid var(--ezy-border-color);
}

.ezy__signup16_HEgHdsPt-form-card label {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.8;
}
.ezy__signup16_HEgHdsPt .form-control,
.ezy__signup16_HEgHdsPt .form-select {
  min-height: 48px;
  line-height: 1;
  border: 1px solid var(--ezy-border-color);
  background-color: transparent;
  color: var(--bs-body-color);
  border-radius: 0;
  font-size: 16px;
  padding-left: 40px;
  opacity: 0.75;
}
.ezy__signup16_HEgHdsPt .form-select {
  background-color: var(--ezy-form-card-bg);
  border-color: var(--ezy-border-color) !important;
}
.ezy__signup16_HEgHdsPt .form-control:focus {
  border-color: var(--ezy-theme-color);
  box-shadow: none;
}

.ezy__signup16_HEgHdsPt-btn-submit {
  padding: 12px 40px;
  background-color: var(--ezy-theme-color);
  color: #ffffff;
  border-radius: 0;
}

.ezy__signup16_HEgHdsPt-btn-submit:hover {
  color: #ffffff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}
.ezy__signup16_HEgHdsPt a {
  color: var(--bs-body-color);
}
.ezy__signup16_HEgHdsPt a:hover {
  color: var(--ezy-theme-color);
}
