.logo{
  img{
    max-height: 60px;
    margin-bottom: 10px;
  }
}
.ezy__nav8 {
	/* Bootstrap variables */
	--bs-body-color: #000;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-card-bg: #f6f6f6;
	--ezy-card-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
	--ezy-body-color-invert: rgb(246, 246, 246);
	--ezy-border-color: rgb(213, 213, 213);

	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	overflow: hidden;
	position: relative;
	z-index: 1;
}

/* Gray Block Style */
.gray .ezy__nav8,
.ezy__nav8.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);

	/* Easy Frontend variables */
	--ezy-body-color-invert: rgb(255, 255, 255);
}

/* Dark Gray Block Style */
.dark-gray .ezy__nav8,
.ezy__nav8.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-card-bg: rgb(11, 23, 39);
	--ezy-body-color-invert: rgb(11, 23, 39);
	--ezy-border-color: rgba(130, 130, 130, 0.4);
}

/* Dark Block Style */
.dark .ezy__nav8,
.ezy__nav8.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-card-bg: rgb(30, 39, 53);
	--ezy-body-color-invert: rgb(11, 23, 39);
	--ezy-border-color: rgba(130, 130, 130, 0.4);
}

.ezy__nav8 h5 {
	font-weight: 700;
	font-size: 24px;
}

.ezy__nav8 p {
	opacity: 0.8;
}

.ezy__nav8-divider {
	height: 100%;
	width: 1px;
	background-color: var(--ezy-border-color);
}

.ezy__nav8-fill-btn {
	padding: 10px 40px;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	background-color: var(--ezy-theme-color);
}
.ezy__nav8-fill-btn:hover {
	color: #fff;
	background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}
.ezy__nav8-outline-btn {
	padding: 10px 40px;
	font-size: 14px;
	line-height: 1;
	color: var(--ezy-theme-color);
	background-color: transparent;
	border: 1px solid var(--ezy-border-color);
}
.ezy__nav8-outline-btn:hover {
	color: #fff;
	border: 1px solid rgba(var(--ezy-theme-color-rgb), 0.9);
	background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

.ezy__nav8-card select {
	color: var(--bs-body-color);
}
.ezy__nav8-card a {
	text-decoration: none;
	font-size: 14px;
	color: var(--bs-body-color);
	opacity: 0.8;
}
.ezy__nav8-card a:hover {
	color: var(--ezy-theme-color);
}
