<div class="col-12">
  <app-admin-header></app-admin-header>
  <!-- <app-admin-sidebar></app-admin-sidebar> -->
</div>
<div class="mainContainer">
  <section class="ezy__blogdetails4_izoMrDMa">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-12 col-md-4 col-lg-3 order-2 order-md-1">
          <div>
            <div>
              <h4 class="ezy__blogdetails4_izoMrDMa-title">ABOUT US</h4>
              <p class="opacity-75">
                Holisticly re-engineer long-term high-impact convergence via emerging bandwidth. Distinctively
                repurpose real-time opportunities without long-term high-impact potentialities. Interactively monetize
                corporate outsourcing before unique core competencies.
              </p>
            </div>
            <div class="mt-5">
              <h4 class="ezy__blogdetails4_izoMrDMa-title mb-4">RECENT COMMENTS</h4>
              <div class="ezy__blogdetails4_izoMrDMa-comments p-4">
                <ul class="nav">
                  <li class="py-2">
                    <i class="fas fa-comment me-2"></i>George Codex on
                    <a href="#">Blue Seduction</a>
                  </li>
                  <li class="py-2">
                    <i class="fas fa-comment me-2"></i>Kontramax on
                    <a href="#">Sticky Post With Left Sidebar</a>
                  </li>
                  <li class="py-2">
                    <i class="fas fa-comment me-2"></i>Yann Yong on
                    <a href="#">Early stage disruptive</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mt-5">
              <h4 class="ezy__blogdetails4_izoMrDMa-title mb-4">RELETED POSTS</h4>
              <!-- post start -->
              <div class="mt-3">
                <div class="d-flex align-items-start">
                  <img
                    src="https://cdn.easyfrontend.com/pictures/blog/blog_12_4.png"
                    alt=""
                    width="50"
                    class="img-fluid me-3"
                  />
                  <div>
                    <a href="#"><h6>Decide what type of teacher you want to be</h6></a>
                    <p class="opacity-75">Jun 29</p>
                  </div>
                </div>
              </div>
              <!-- post start -->
              <div class="mt-3">
                <div class="d-flex align-items-start">
                  <img
                    src="https://cdn.easyfrontend.com/pictures/blog/blog_12_3.png"
                    alt=""
                    width="50"
                    class="img-fluid me-3"
                  />
                  <div>
                    <a href="#"><h6>How I’m Styling Everyday Black Outfits</h6></a>
                    <p class="opacity-75">Aug 15</p>
                  </div>
                </div>
              </div>
              <!-- post start -->
              <div class="mt-3">
                <div class="d-flex align-items-start">
                  <img
                    src="https://cdn.easyfrontend.com/pictures/blog/blog_12_5.png"
                    alt=""
                    width="50"
                    class="img-fluid me-3"
                  />
                  <div>
                    <a href="#"><h6>Long lasting fall scent for women sale offer</h6></a>
                    <p class="opacity-75">Sep 17</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main contents -->
        <div class="col-12 col-md-8 col-lg-9 order-1 order-md-2">
          <div class="ezy__blogdetails4_izoMrDMa-contents">
            <img
              src="https://cdn.easyfrontend.com/pictures/contact/contact13.jpg"
              alt=""
              class="ezy__blogdetails4_izoMrDMa-banner img-fluid"
            />
            <p class="opacity-75 mt-5">
              <span class="ezy__blogdetails4_izoMrDMa-highlighted-text">L</span> orem ipsum dolor sit amet consectetur
              adipisicing elit. Possimus deleniti doloremque dignissimos nemo accusamus, fuga enim velit nesciunt
              debitis, sint rerum! Inventore, vero. Numquam voluptatum at accusamus quisquam iste omnis harum
              voluptatem temporibus obcaecati, ipsa provident architecto illo ea illum, exercitationem totam, ratione
              consectetur laborum! Beatae, non aspernatur officia architecto perspiciatis odio adipisci ducimus
              consectetur? Facilis soluta enim molestiae ratione numquam fugit, dicta mollitia atque cupiditate eos
              debitis esse commodi, eveniet perferendis alias! Ab molestias blanditiis, voluptatem quisquam ratione
              quibusdam in pariatur fugiat veritatis consequatur, harum alias eos deleniti dicta! Qui necessitatibus,
              facilis voluptate inventore quod similique voluptates eum, repudiandae aliquid ea eveniet itaque et
              molestias temporibus debitis consectetur sit quae modi non minima distinctio hic quasi aspernatur! Quas,
              odit maiores nam veritatis repellat tenetur laboriosam sed incidunt accusantium temporibus sequi
              reiciendis atque qui dolor alias. Recusandae unde nostrum nobis laudantium, adipisci incidunt? Ex,
              praesentium exercitationem laudantium consectetur obcaecati illo! Totam nesciunt quos, molestias earum
              aut ea voluptatum non officiis iure! Eaque necessitatibus aperiam praesentium animi magnam, quo totam
              tempore quod impedit cupiditate deserunt eveniet unde suscipit, vel consectetur, itaque natus.
              Asperiores eos cupiditate optio quae aut molestiae fugiat alias id, tempora, dolorem velit, aliquid
              assumenda aspernatur veniam rerum quisquam!
            </p>
            <div class="ezy__blogdetails4_izoMrDMa-comment d-flex align-items-start p-4 p-md-5 mt-4 mt-md-5">
              <img
                src="https://cdn.easyfrontend.com/pictures/users/user11.jpg"
                alt=""
                class="img-fluid rounded-circle"
                width="70"
              />
              <div class="ms-4">
                <h5 class="ezy__blogdetails4_izoMrDMa-user mb-1">George Codex</h5>
                <p class="opacity-75">15 Jan 2022 in Design, Develop, Wordpress</p>
                <p class="opacity-75">
                  In et volutpat risus. Vestibulum at elementum nibh, at laoreet mauris. Ut eget mi in nisl rhoncus
                  suscipit. Donec sed elementum dui. Sed tempus sagittis gravida. Etiam sit amet aliquam mauris, non
                  sodales sapien. Curabitur non arcu dignissim, consectetur mi ut.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
